{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Flasky -Login{% endblock %}

{% block page_content %}
<div class="page-content">
    <h1>Log In</h1>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <p>
            New User?
            <a href="{{url_for('auth.register')}}">Click here to register</a>
        </p>
    </div>
</div>

{% endblock %}