{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Flasky -Register{% endblock %}

{% block page_content %}
<div class="page-content">
    <h1>Register</h1>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <p>
            Already have an account?
            <a href="{{url_for('auth.login')}}">Click here to login</a>
        </p>
    </div>
</div>

{% endblock %}