<!-- {% extends "bootstrap/base.html" %} -->

{% block head %}
{{ super() }}
<link rel="shorcut icon" href="{{url_for('static',filename='favico.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}
{% block title %}
Flasky
{% endblock %}

{% block navbar %}



<nav style="border-radius: 0%;" class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <h4>FLASKY</h4>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>

        {% if current_user.is_authenticated %}
        <a href="{{url_for('main.user',username=current_user.username)}}" class="navbar-item">
            Profile
        </a>
    {% endif %}
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if current_user.is_authenticated %}
                <a href="{{url_for('auth.logout')}}" class="button is-light">
                    Sign out
                </a>
            {% else %}
                <a href="{{url_for('auth.register')}}" class="button is-primary">
                <strong>Register</strong>
                </a>
                <a href="{{url_for('auth.login')}}" class="button is-light">
                Sign in
                </a>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
  </nav>

<!-- 
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h4>Flasky</h4>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item">
          Home
        </a>
        
        {% if current_user.is_authenticated %}
            <a href="{{url_for('main.user',username=current_user.username)}}" class="navbar-item">
            Profile
          </a>
    
        {% endif %}
  
    
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if current_user.is_authenticated %}
                <a class="buttion is-primary" href="{{url_for('auth.logout')}}">Log out</a>
            {% else %}
            <a href="{{url_for('auth.register')}}" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a href="{{url_for('auth.login')}}" class="button is-light">
              Log in
            </a>
            {% endif %}
          </div>
        </div>
        <a class="buttion is-primary" href="{{url_for('auth.logout')}}">Log out</a>
      </div>
    </div>
  </nav> -->

<!-- <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('main.user',username=current_user.username)}}">Profile</a>
                </li>
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div> -->

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="notification is-primary">
        <button type="button" class="delete" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>


{% endblock %}


<!-- Footer -->



<!-- Endfooter -->
