{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}
{% block title %} Flasky - Home Page {% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding-top: 20px; padding-left: 0;">
            {% if current_user.can(Permission.WRITE) %}
            <div>
                {{ wtf.quick_form(form) }}
            </div>
            {% else %}
            <div class="alert alert-info">
                <p>You don't have permission to create posts.</p>
                <p><a href="{{ url_for('main.moderate') }}">Learn more about contributing</a>.</p>
            </div>
            {% endif %}
        </div>
        <div id="main" class="col-md-6">
            <div class="container-fluid">
                {% include '_posts.html' %}
                <div>
                    <div style="text-align: center;">
                        {{ macros.pagination_widget(pagination, '.home') }}
                    </div>
                </div>
            </div>
        </div>
        <div id="right-content" class="col-sm-12 col-md-3">
            {% if current_user.is_authenticated %}
            <div>
                <h4 style="font-weight: bold;">Accounts to Follow</h4>
                {% if users %}
                <ul class="list-unstyled">
                    {% for user in users %}
                    <li class="mb-4 account_follow">

                        <div class="account_profile">
                            <a href="{{ url_for('.user', username=user.username) }}">
                                <img src="{{ user.gravatar(40) }}" class="feed-avatar img-circle" alt="user image"
                                    style="width: 40px; height: 40px;">
                            </a>
                            <strong><a href="{{ url_for('.user', username=user.username) }}">{{ user.username
                                    }}</a></strong><br>

                        </div>

                        <div>
                            {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('main.follow', username=user.username) }}"
                                class="btn btn-sm btn-outline-primary mt-1">Follow</a>
                            {% else %}
                            <small class="text-muted">Following</small>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No users to suggest right now.</p>
                {% endif %}
            </div>
            {% endif %}
            <!-- <h3>Recent Posts</h3>
            {% if recent_posts %}
            <ul>
                {% for post in recent_posts %}
                <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No recent posts available.</p>
            {% endif %} -->
        </div>
    </div>
</div>
{% endblock %}