{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} Flasky -Page Not Found {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Posts</h1>
</div>
<div>
{% if current_user.can(Permission.WRITE_ARTICLES) %}
{{ wtf.quick_form(form) }}
{% endif %}
</div>
{% include '_posts.html' %}
{% endblock %}