{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}
{% block title %} Flasky - Home Page {% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs" style="padding-top: 20px; padding-left: 0;">
            {% if current_user.can(Permission.WRITE) %}
            <div>
                {{ wtf.quick_form(form) }}
            </div>
            {% else %}
            <div class="alert alert-info">
                <p>You don't have permission to create posts.</p>
                <p><a href="{{ url_for('main.moderate') }}">Learn more about contributing</a>.</p>
            </div>
            {% endif %}
        </div>
        <div id="main" class="col-sm-12 col-md-6">
            <div class="container-fluid">
                {% include '_posts.html' %}
                <div>
                    <div style="text-align: center;">
                        {{ macros.pagination_widget(pagination, '.home') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="right-content" class="col-md-3">
            <h3>Recent Posts</h3>
            <ul>
                {% for post in recent_posts %}
                <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>